/* Estilos de raiz */

:root {
   --color-primary: #1ab6ca;
   --color-secondary: #FFF9EB;
   --color-tertiary: #7cb8f0;
   --color-button: #168594;
   --color-button-hover: #116c79;
   --color-button-2: #0b4850;
   --color-button-hover-2: #05343a;
   --color-text: #444444;
   --color-white: #FFFFFF;
}

/* Estilos generales */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Poppins, sans-serif;
}

*::selection {
   color: var(--color-button-hover);
}

body {
   height: 100vh;
   width: auto;
   background: rgb(112,230,230);
   background: radial-gradient(circle, rgba(112,230,230,1) 0%, rgba(6,157,166,1) 99%);
}

.main-content {
   display: flex;
   flex-direction: row;
   height: 100%;
   width: 100%;
   display: relative;
} */

.main-content div {
   background-image: url(assets/bg-signopregunta.png);
   background-size: cover;
   background-position: center;
   mask-image: linear-gradient(to top, rgb(0, 0, 0) 80%, transparent 100%);
   height: 100vh;
   width: 100vw;
   position: fixed;
   top: 0;
   left: 0;
}

.main-bg {
   background-image: url(assets/bg-signopregunta.png);
   opacity: 80%;
   filter: blur(1px) contrast(70%);
   background-size: cover;
   background-position: center;
   height: 100vh;
   width: 100vw;
   position: fixed;
   top: 0;
   left: 0;
}

/* Banner */

.header-banner {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.header-banner div {
   width: 800px;
   min-width: 200px;
   height: 250px;
   background-color: #a2dfdf;
   filter: blur(30px);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -20%);
   z-index: 1;
}

/* Sección izquierda */

.section-left {
   height: 100vh;
   width: auto;
}

.section-left > div {
   height: inherit;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
}

/* Sección derecha */

.input-section {
   width: auto;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
   backdrop-filter: blur(20px) saturate(180%);
   -webkit-backdrop-filter: blur(20px) saturate(180%);
   background-color: rgba(255, 255, 255, 0.215);
   border: 1px solid rgba(209, 213, 219, 0.3);
   border-radius: 64px 0 0 64px;
   box-shadow: 0 0 25px #7a7a7a;
   z-index: 3;
}

/* Títulos */

.main-title {
   font-size: clamp(5.5rem, 5.5rem + -8vw, 1rem);
   font-family: 'Fuzzy Bubbles', sans-serif;
   font-weight: 900;
   font-style: italic;
   text-align: center;
   color: var(--color-white);
   text-shadow: 3px 3px #000000a9;
   z-index: 2;
   /* overflow: hidden; */
}

.header-banner h2 {
   font-weight: 500;
   margin: 10px;
   text-align: center;
   text-shadow: 2px 2px 2px #f3f3f3;
   z-index: 2;
}

.header-banner p {
   text-align: center;
   z-index: 2;
   font-weight: 400;
}

.section-title {
   font-size: 2rem;
   font-weight: 700;
   color: var(--color-text);
   margin: 40px 0 0 0;
   text-align: center;
   text-shadow: 0 2px 2px rgb(236, 234, 234);
}

/* Contenedor de entrada  */

.input-wrapper {
   display: flex;
   justify-content: center;
   width: 100%;
   max-width: 600px;
   margin-top: 20px;
}

.input-name {
   width: 100%;
   padding: 5px 20px;
   border: 1px solid #0005;
   border-radius: 25px 0 0 25px;
   font-size: 16px;
}

.input-name:focus {
   outline: 1px solid var(--color-tertiary);
}

/* Contenedor de botones */

.button-container {
   width: 600px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto auto;
   gap: 10px;
   margin-bottom: 1rem;
}

.button-container i {
   font-size: 2rem;
   padding-right: 20px;
}

/* Estilos de añadir */

button {
   padding: 15px 30px;
   font-size: 16px;
   border: 2px solid transparent;
   border-radius: 25px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
   cursor: pointer;
}

.button-add {
   background-color: var(--color-tertiary);
   color: #000;
   border-radius: 0 25px 25px 0;
}

.button-add:hover {
   background-color: #96c6f3;
}

/* Lista */

ul {
   display: grid;
   grid-template-columns: 1fr 1fr;  
   gap: 5px;
   list-style-type: none;
   color: var(--color-text);
   font-size: 1.2rem;
   font-weight: 500;
   margin: 15px;
   height: auto;
   width: 100%;
   overflow-y: auto;
   background-color: rgba(255, 255, 255, 0.305);
   border-radius: 1.5rem;
}

ul li {
   padding: 5px;
   text-align: center;
}

#listaAmigosEnlazados {
   text-align: center;
}

/* Botón de sortear título */

.button-draw {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   padding: 10px 30px;
   color: var(--color-white);
   background-color: var(--color-button);
   font-size: 16px;
}

.button-draw:hover {
   background-color: var(--color-button-hover);
   box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

/* Botón de reset */

.button-reset {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   padding: 10px 30px;
   color: var(--color-white);
   background-color: var(--color-button-2);
   font-size: 16px;
   grid-column: 1 / span 2;
   grid-row: 2 / span 1;
}

.button-reset:hover {
   background-color: var(--color-button-hover-2);
   box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

/* Estilo de dialogs */

#dialog, #dialogError, #dialogReset{
   width: 350px;
   min-height: 200px;
   margin: auto;
	padding: 1rem 3rem;
   justify-content: center;
	background: #f3f3f3;
	max-width: 400px;
	padding-top: 2.5rem;
	border-radius: 20px;
	border: 0;
	box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.836);
   word-break: keep-all;
   overflow: hidden;
	animation: fadeIn 1s ease both;
	&::backdrop {
		animation: fadeIn 1s ease both;
		background: rgba(14, 14, 14, 0.4);
		z-index: 2;
		backdrop-filter: blur(20px);
	}
	.x {
		filter: grayscale(1);
		border: none;
      box-shadow: 0 0 0;
		background: none;
		position: absolute;
		top: 15px;
		right: 10px;
		transition: ease filter, transform 0.3s;
		cursor: pointer;
		transform-origin: center;
		&:hover {
			filter: grayscale(0);
			transform: scale(1.1);
		}
	}
   h3 {
		font-weight: 600;
		font-size: 1.5rem;
		padding-bottom: 1rem;
	}
	p {
      width: auto;
      font-size: 1.3rem;
      line-height: 1.2rem;
      padding-bottom: 1.6rem;
   }
   button:not(.x) {
      margin-left: 1.9rem;
   }
   button:hover:not(.x) {
      box-shadow: 0 4px 3px #168594;
   }
}

/* Media queries */

@media (max-width: 975px) {
   body {
      background-size: 100% 50%;
      background-repeat: repeat;
   }
   .main-content {
      flex-direction: column;
      align-items: center;
      padding: 10px;
   }
   .section-left > div {
      height: auto;
      padding: 20px;
   }
   .header-banner p {
      width: 100%!important;
      padding: 0!important;
   }
   .input-section {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
      border-radius: 64px;
   }
}

@media (max-width: 704px) {
   .button-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;
      width: auto;
   }
    .header-banner div {
      transform: translate(-50%, -5%);
      width: 400px;
   }
}

/* Keyframes */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
